
.header_title{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-family: 'Microsoft YaHei';
	background-color: #FFC388;
}

.absBox{
	position: absolute;
	left: 20px;
	top: -2px;
}

#list_Box{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#list_Box li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	color: #000;
}
#list_Box li a{color: #000;}

#list_Box .col-xs-1,#list_Box .col-xs-2,#list_Box .col-xs-3,#list_Box .col-xs-4
,#list_Box .col-xs-5,#list_Box .col-xs-6,#list_Box .col-xs-7,#list_Box .col-xs-8,
#list_Box .col-xs-9,#list_Box .col-xs-10,#list_Box .col-xs-11,#list_Box .col-xs-12{
	padding-left: 5px;
	padding-right: 5px;
}

#list_Box  .txtBox{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	padding: 0;
}
.edit{
	color: #666;
	text-align: center;
}
.price {
	color: #FE8432;
}
.price strong{
	font-size: 16px;
	line-height: 20px;
}
.tit_box{
	height: 20px;
	line-height: 20px;
	background-color: #56D8C4;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}

.titBox{
	width: 50px;
	height: 22px;
	line-height: 19px;
	font-size: 12px;
	position: absolute;
	left: 1px;
	top:0;
	background: url(../images/titBack.png) no-repeat scroll;
	background-size: 50px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	font-family: 'Microsoft YaHei';
}